Assignment9/wsdl/server.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="ServerService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/webservice/server?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="shutdown">
<part name="parameters" element="tns:shutdown"></part>
</message>
<message name="shutdownResponse">
<part name="parameters" element="tns:shutdownResponse"></part>
</message>
<message name="lucas">
<part name="parameters" element="tns:lucas"></part>
</message>
<message name="lucasResponse">
<part name="parameters" element="tns:lucasResponse"></part>
</message>
<message name="subtraction">
<part name="parameters" element="tns:subtraction"></part>
</message>
<message name="subtractionResponse">
<part name="parameters" element="tns:subtractionResponse"></part>
</message>
<message name="addition">
<part name="parameters" element="tns:addition"></part>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"></part>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"></part>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"></part>
</message>
<portType name="IServer">
<operation name="shutdown">
<input wsam:Action="http://webservice/IServer/shutdownRequest" message="tns:shutdown"></input>
<output wsam:Action="http://webservice/IServer/shutdownResponse" message="tns:shutdownResponse"></output>
</operation>
<operation name="lucas">
<input wsam:Action="http://webservice/IServer/lucasRequest" message="tns:lucas"></input>
<output wsam:Action="http://webservice/IServer/lucasResponse" message="tns:lucasResponse"></output>
</operation>
<operation name="subtraction">
<input wsam:Action="http://webservice/IServer/subtractionRequest" message="tns:subtraction"></input>
<output wsam:Action="http://webservice/IServer/subtractionResponse" message="tns:subtractionResponse"></output>
</operation>
<operation name="addition">
<input wsam:Action="http://webservice/IServer/additionRequest" message="tns:addition"></input>
<output wsam:Action="http://webservice/IServer/additionResponse" message="tns:additionResponse"></output>
</operation>
<operation name="multiplication">
<input wsam:Action="http://webservice/IServer/multiplicationRequest" message="tns:multiplication"></input>
<output wsam:Action="http://webservice/IServer/multiplicationResponse" message="tns:multiplicationResponse"></output>
</operation>
</portType>
<binding name="ServerPortBinding" type="tns:IServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="shutdown">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="lucas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subtraction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="addition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServerService">
<port name="ServerPort" binding="tns:ServerPortBinding">
<soap:address location="http://localhost:8080/webservice/server"></soap:address>
</port>
</service>
</definitions>